@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

body {
  overflow: hidden; /* Make the HTML body be non-scrollable */
}

.badge {
  align-items: center;
  padding-left: 9px;
  padding-right: 9px;
  transform: matrix(1, 0, -0.2, 1, 0, 0);
  border-radius: 4px;
  justify-content: center;
  z-index: 1;
}
