@tailwind base;
@tailwind components;
@tailwind utilities;

.titlebar {
  -webkit-app-region: drag; /* Allow user to drag the window using this titlebar */
  -webkit-user-select: none; /* Prevent user from selecting things */
  user-select: none;
}
