.ProseMirror {
  > * + * {
    margin-top: 0.75em;
    margin-bottom: 0.5rem;
  }
  pre {
    font-family: "Fira Code", monospace;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
}
